<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD USER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">


        <div class="container-fluid col-sm-5">
            <h1>Add Articles</h1>
            <form enctype="multipart/form-data" method="post" action="{% url 'editArticle' article.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_article_title">article_title:</label>
                    {{ form.article_title }}
                    <input type="hidden" id="article_title" value="{{ form.article_title.id_for_label.value }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.subtitle.id_for_label }}">subtitle:</label>
                    {{ form.subtitle }}
                    <input type="hidden" id="subtitle" value="{{ form.subtitle.id_for_label.value }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                    <input type="hidden" id="description" value="{{ form.description.id_for_label.value }}">
                </div>
                <div class="form-group">
                    <label for="id_file_url">File url:</label>
                    <input type="file" name="file_url" class="form-control" accept="image/*" id="id_file_url">
                    <img src="{{ article.file_url.url }}" alt="{{ article.article_title }}" class="article-image"
                        style="max-width: 300px; margin-top: 10px;">
                    <!-- Hidden input to store the current image URL -->
                    <input type="hidden" id="imageInput" name="current_file_url" value="{{ article.file_url.url }}">
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <button type="button" id="previewBtn" class="btn btn-primary">Preview</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </div>

            </form>

        </div>

        <div id="previewContainer" class="col-sm-5" style="display: none; object-fit: cover;">
            <!-- This div will be used to display the article preview -->
            <h2>Article Preview</h2>
            <p id="previewTitle"></p>
            <p id="previewSubtitle"></p>
            <p id="previewDescription"></p>
            <img id="previewImage" src="#" alt="Selected Image">
        </div>

    </div>



    <script>
        document.getElementById('previewBtn').addEventListener('click', function () {
            console.log("hshshhshsh", JSON.stringify(document.querySelector('input[name="file_url"]').value))
            document.getElementById('previewTitle').innerText = document.querySelector('input[name="article_title"]').value
            document.getElementById('previewSubtitle').innerText = document.querySelector('input[name="subtitle"]').value
            // document.getElementById('previewDescription').innerText = document.querySelector('input[name="description"]').value
            document.getElementById('previewDescription').innerText = document.querySelector('textarea[name="description"]').value

            var fileInput = document.querySelector('input[name="file_url"]');
            console.log(fileInput)


            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('previewImage').src = e.target.result;
                    console.log(document.getElementById('previewImage').src = e.target.result)
                };
                reader.readAsDataURL(fileInput.files[0]);
                // reader.readAsDataURL(input.files[0]);
            }
            document.getElementById('previewContainer').style.display = 'block';
        });

    </script>
</body>

</html>